.btn-primary {
  background-color: #FF5733;
  border: none;
}
#title {
  color:#FF5733;
  font-family: URW Chancery L, cursive;
  font-weight: bold;
  font-size: 4rem;
  text-shadow: 4px 4px 6px black;
}

.logo {
  width: 16rem;
}

.logo_mini {
  width: 4rem;
  margin-bottom: 1rem;
}

#final_title {
  color:#FF5733;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px black;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#video {
  display: none;
}

.canvas-container {
  width: 100%;
  height: calc(50% - 2rem);
  transform: scaleX(-1);
}

.canvas-container > canvas {
  width: 100%;
  height: 100%;
}

.score-container {
  flex: auto 1 1;
}

#testo_end {
  background-color: white;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: calc(100% + 0.5rem);
}

.div_end {
 padding: 20px;
 background-color: white;
}

.div_index, .div_signup {
  margin-top: 1rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 1rem);
}

.score-container {
  background-color: #FF5733;
} 

#signup_box {
  width: 90%;
}

.progress {
  height: 2rem;
}
